import sys
import math
from PyQt6.QtWidgets import (
    QApplication,
    QMainWindow,
    QWidget,
    QVBoxLayout,
    QLabel,
    QPushButton,
    QLineEdit,
    QComboBox,
    QStackedWidget,
    QMessageBox,
    QFileDialog,
)


from PyQt6.QtGui import QDoubleValidator, QPainter, QPen, QColor
from PyQt6.QtCore import Qt